.advantage{
	background-color: #EFEFEF;
	margin-bottom: 73px;
	padding: 85px 0;

	&__header{
		margin-bottom: 81px;
		position: relative;
		padding-left: 118px;
		&:after{
			content: '';
			position: absolute;
			top: 0px;
			right: 70px;
			background-image: url("../img/advantage-decor.png");
			background-repeat: no-repeat;
			width: 80px;
			height: 55px;
		}
	}
	&__title{
		display: inline-block;
		font-family: $font1;
		font-weight: bold;
		font-size: 32px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #E30613;
	}
	&__body{
		display: flex;
		gap: 56px;
		flex-wrap: wrap;
		padding-left: 40px;
	}
	&__col{
		flex: 1 0 calc(50% - 56px);
	}
	&__item{
		position: relative;
		display: flex;
		margin-bottom: 80px;
		&:last-of-type{
			margin-bottom: 0;
			.advantage__name{
				border-bottom: 0;
			}
		}
		span{
			color: #fff;
		}
	}
	&__num{
		font-family: $font1;
		font-weight: 700;
		font-size: 32px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-right: 46px;
		padding-bottom: 23px;
	}
	&__name{
		font-weight: bold;
		font-size: 22px;
		line-height: 25px;
		padding-bottom: 22px;
		border-bottom:1px solid #000;
		flex: auto;
	}
	@include r(1023){
		margin-bottom: 50px;
		&__header{
			margin-bottom: 40px;
			position: relative;
			padding-left: 50px;
			&:after{
				display: none;
			}
		}
		&__title{
			display: inline-block;
			font-family: $font1;
			font-weight: bold;
			font-size: 32px;
			line-height: 25px;
			letter-spacing: 0.05em;
			color: #E30613;
		}
		&__body{
			padding-left: 0;
		}
		&__num{
			font-size: 24px;
			line-height: 25px;
			margin-right: 30px;
		}
		&__name{
			font-size: 18px;
			line-height: 24px;
			min-height: 73px;
		}
		&__item{
			margin-bottom: 60px;
			min-height: 95px;
		}
	}
	@include r(767){
		padding: 20px 0;
		&.stages{
			background-color: #fff;
			color: #000;
			.advantage__arrow{
				background-image: url("../img/icons-sprite.svg#icon-arrow-dropdown");
			}
			.advantage__title{
				&:after{
					background-color: #E30613;
				}
			}
			.advantage__item{
				padding-left: 60px;
			}
			.advantage__img{
				width: auto;
				height: auto;
				border-bottom: 3px solid #E30613;
				top: -8px;
				font-size: 30px;
			}
			.advantage__list{
				li{
					&:before{
						background-color: #000;
					}
				}
			}
		}
		&__header{
			margin-bottom: 37px;
			position: relative;

		}
		&__title{
			font-size: 20px;
			line-height: 25px;
			&:after{
				content: '';
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 142px;
				height: 3px;
				background-color: #fff;
			}
		}
		&__body{

		}
		&__item{
			padding-left: 50px;
			max-width: 100%;
			margin-bottom: 40px;
		}
		&__name{
			font-size: 13px;
			line-height: 25px;
		}
	}
}