.articles-inner{
	margin: 86px 0 78px;
	&__h1{
		font-family: $font1;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #E30613;
		margin-bottom: 75px;
	}
	&__header{
		display: flex;
		margin-bottom: 62px;
		justify-content: space-between;
	}
	&__title{
		font-family: $font1;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 35px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	&__img{
		position: relative;
		margin-bottom: 30px;
		img{
			width: 100%;
			display: block;
			object-fit: cover;
			border-radius: 20px;
		}
	}
	&__date{
		font-weight: normal;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-bottom: 20px;
		text-align: right;
	}
	&__body{
		p{
			font-weight: normal;
			font-size: 18px;
			line-height: 35px;
			text-align: justify;
			letter-spacing: 0.05em;
			color: #333333;
			margin: 0 0 5px;
			&:first-letter{
				margin-left: 10px;
			}
		}
	}
	.container{
		max-width: 1160px;
	}
	@include r(767){
		margin: 20px 0 26px;
		&__h1{
			display: none;
		}
		&__header{
			flex-wrap: wrap;
		}
		&__title{
			font-size: 20px;
			line-height: 35px;
			&:after {
				width: 203px;
			}
		}
		&__img{
			padding-bottom: 30px;
			margin-bottom: 50px;
		}
		&__date{
			position: absolute;
			bottom: -30px;
			right: 0;
			margin-bottom: 0;
		}
		&__body{
			p{
				font-weight: normal;
				font-size: 12px;
				line-height: 25px;
				text-align: justify;
				letter-spacing: 0.05em;
				color: #333333;
				margin: 0 0 5px;
				&:first-letter{
					margin-left: 10px;
				}
			}
		}
	}
}