.calculator{
	padding: 30px 0 89px;
	margin-bottom: 81px;
	background-color: #EFEFEF;
	&__header {
		margin-bottom: 72px;
	}
	&__title{
		display: inline-block;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: -0.3px;
		color: #E30613;
	}
	&__body{
		margin: auto;
	}
	&__span{
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	&__modal{
		display: flex;
		justify-content: center;
		margin: 0 -20px 30px;
		img{
			max-width: 100%;
		}
		.table{
			margin-bottom: 0;
			font-size: 9px;
			&> :not(caption) > * > *{
				padding: 0 10px 22px;
				border-bottom-width: 0;
			}
			td{
				&:first-child{
					max-width: 157px;
				}
				&:last-child{
					text-align: right;
				}

			}
			tfoot{

				font-size: 12px;
				line-height: 25px;
				letter-spacing: 0.05em;
				text-transform: capitalize;
				color: #000000;
				td{
					font-weight: bold;
				}
			}
		}
	}
	&__modal-item{
		padding: 49px 25px 25px;
		margin: 0 20px;
		max-width: 380px;
		position: relative;
		background-image: url("../img/check-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__modal-logo{
		margin-bottom: 26px;
	}
	&__modal-title{
		font-weight: bold;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-bottom: 10px;
		padding: 0 10px;
	}
	&__code{
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #4D4D4D;
	}
	&__btn{
		width: 329px;
		font-weight: bold;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 0.05em;
		padding: 17px 25px;
		margin: 0 0 0 215px;
		display: block;
	}
	.form-group{
		display: flex;
		align-items: center;
		margin-bottom: 46px;
	}
	.form-label{
		font-family: $font1;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.05em;
		color: #000000;
		flex: 1 0 278px;
		max-width: 278px;
	}
	.form-control{
		border: 1px solid #E30613;
		border-radius: 5px;
		max-width: 210px;
		padding: 14px .75rem;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #8A8383;
		background-color: rgba(217, 217, 217, 0.5);;
		margin-right: 135px;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::placeholder{
			color: #8A8383;
		}
	}
	.alert{
		text-align: center;
		display: none;
	}
	.container{
		max-width: 1160px;
	}
	@include r(767){
		&__header {
			margin-bottom: 15px;
			padding: 0;
			text-align: center;
		}
		&__title{
			font-size: 24px;
			line-height: 50px;
		}
		&__modal{
			display: block;
			margin: 0 0 30px;
		}
		&__modal-logo{
			display: none;
		}
		&__modal-item{
			padding:25px;
			margin: 0 auto;
			max-width: 100%;
			position: relative;
			&:last-child{
				background-position: bottom;
				margin-top: 0;
			}

		}
		&__span{
			font-size: 13px;
			line-height: 16px;
		}
		.form-label{
			font-size: 13px;
			line-height: 16px;
		}
		.form-control{
			max-width: 116px;
			margin-right: 20px;
		}
	}
}