.calculator{
	margin-bottom: 30px;
	&__header{
		margin-bottom: 60px;
	}
	&__title{
		display: inline-block;
		font-weight: bold;
		font-size: 24px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			background-color: #E30613;
			width: 100%;
			height: 3px;
		}
	}
	&__body{
		max-width: 667px;
		margin: auto;
	}
	&__span{
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	&__modal{
		display: flex;
		justify-content: center;
		margin: 0 -20px 30px;
		img{
			max-width: 100%;
		}
		.table{
			margin-bottom: 0;
			font-size: 9px;
			&> :not(caption) > * > *{
				padding: 0 10px 22px;
				border-bottom-width: 0;
			}
			td{
				&:first-child{
					max-width: 157px;
				}
				&:last-child{
					text-align: right;
				}

			}
			tfoot{

				font-size: 12px;
				line-height: 25px;
				letter-spacing: 0.05em;
				text-transform: capitalize;
				color: #000000;
				td{
					font-weight: bold;
				}
			}
		}
	}
	&__modal-item{
		padding: 49px 25px 25px;
		margin: 0 20px;
		max-width: 380px;
		position: relative;
		background-image: url("../img/check-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__modal-logo{
		margin-bottom: 26px;
	}
	&__modal-title{
		font-weight: bold;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-bottom: 10px;
		padding: 0 10px;
	}
	&__code{
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #4D4D4D;
	}
	&__btn{
		width: 264px;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.05em;
		padding: 6px 25px;
		margin: 0 auto;
		display: block;
	}
	.form-group{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.form-label{
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	.form-control{
		border: 1px solid #E30613;
		border-radius: 5px;
		max-width: 162px;
		margin-right: 26px;
		margin-left: auto;
		padding: 3px .75rem;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #8A8383;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::placeholder{
			color: #8A8383;
		}
	}

	@include r(767){
		&__header{
			margin-bottom: 37px;
			position: relative;

		}
		&__title{
			font-size: 20px;
			line-height: 25px;
			&:after{
				content: '';
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 142px;
				height: 3px;
				background-color: #fff;
			}
		}
		&__modal{
			display: block;
			margin: 0 0 30px;
		}
		&__modal-logo{
			display: none;
		}
		&__modal-item{
			padding:25px;
			margin: 0 auto;
			max-width: 100%;
			position: relative;
			&:last-child{
				background-position: bottom;
				margin-top: 0;
			}

		}
		&__span{
			font-size: 13px;
			line-height: 16px;
		}
		.form-label{
			font-size: 13px;
			line-height: 16px;
		}
		.form-control{
			max-width: 116px;
			margin-right: 20px;
		}
	}
}