.footer-form{
  background-color: #EFEFEF;
  padding: 81px 0 105px;
  overflow: hidden;
  &__header {
    margin-bottom: 32px;
    text-align: center;
  }
  &__title{
    display: inline-block;
    font-family: $font1;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #E30613;
  }
  &__body{
    max-width: 500px;
    margin: 0 auto;
  }
  &__form{
    position: relative;
    max-width: 440px;
    margin: 0 auto;
    &:after{
      content: '';
      position: absolute;
      bottom: -129px;
      right: -414px;
      background-image: url("../img/form-bg.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 307px;
      height: 310px;
    }
  }
  &__check{
    display: flex;
    .jq-checkbox{
      flex-shrink: 0;
      margin-right: 27px;
    }
    span{
      font-family: $font1;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.05em;
      color: #4D4D4D;
    }
  }
  .form-group{
    margin-bottom: 34px;
  }
  .form-control{
    padding: 17px 34px;
  }
  .btn.btn-primary{
    margin: 0 auto;
    width: 250px;
    display: block;

  }
}