.footer{
	background-color: #4E5A65;
	padding: 88px 0 36px;
	&__body{
		display: flex;
		flex-wrap: wrap;
		gap: 20px 112px;
		align-items: center;
		img{
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
	&__policy{
		margin-top: 24px;
		font-family: $font1;
		font-weight: 400;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		text-decoration: none;
		display: block;
	}

	@include r(767){
		margin-top: 24px;
		&__item{
			flex: 1 0 50%;
		}
	}
}