.geografia{
	margin-bottom: 30px;
	&__header{
		margin-bottom: 60px;
	}
	&__title{
		display: inline-block;
		font-weight: bold;
		font-size: 24px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			background-color: #E30613;
			width: 100%;
			height: 3px;
		}
	}
	&__body{
		display: flex;
	}
	&__txt{
		width: 304px;
		margin: 36px auto 80px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 25px;
		text-align: justify;
		letter-spacing: 0.05em;
		align-self: flex-end;
		b{
			font-size: 18px;
		}
	}
	@include r(767){
		&__header{
			margin-bottom: 37px;
			position: relative;

		}
		&__title{
			display: none;
		}
		&__body{
			display: block;
		}
		&__txt{
			width: 304px;
			margin: 36px auto;
		}
	}
	@include r(424){
		&__txt{
			width: 100%;
		}
	}
}