.hero{
	overflow: hidden;
	margin-bottom: 72px;
	&__body{
		display: flex;
		align-items: center;
		margin-bottom: 95px;
	}
	&__txt{
		max-width: 700px;
	}
	&__title{
		font-family: 'AvantGardeCTT';
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0.05em;
		color: #1B1B1B;
		span{
			font-size: 40px;
			line-height: 40px;
			text-transform: uppercase;
			display: block;
		}
	}
	&__lable{
		background: linear-gradient(90deg, #E20E1B 3.27%, #FF646E 49.92%, #E20E1B 97.66%);
		font-family: 'AvantGardeCTT';
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		max-width: 612px;
	}
	&__list{
		margin: 0 0 18px;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			font-weight: normal;
			font-size: 24px;
			line-height: 50px;
			letter-spacing: 0.05em;
			color: #000000;
			&:before{
				content: '';
				display: inline-block;
				color: #000;
				border-radius: 50%;
				background-color: #000;
				width: 5px;
				height: 5px;
				margin-right: 10px;
				vertical-align: middle;
				overflow: hidden;
			}
		}
	}
	&__row{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		align-items: center;
		span{
			text-align: right;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #000000;
		}
	}
	&__img{
		flex: 1;
		text-align: center;
	}
	&__video{
		width: 100%;
		img{
			width: 100%;
		}
	}
	@include r(767){
		&__body{
			display: flex;
			flex-direction: column;
		}
		&__txt{
			max-width: 582px;
			text-align: right;
			order: 2;
		}
		&__img{
			top: 0;
			left: 0;
			position: relative;
			order: 1;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		&__title{
			font-size: 24px;
			line-height: 30px;
			span{
				display: block;
				margin-left: 0;
				margin-right: auto;
				width: fit-content;
			}
		}
		&__list{
			margin: 0 0 16px;
			padding: 0;
			list-style: none;
			li{
				font-size: 13px;
				line-height: 25px;
			}
		}
		&__row{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 18px;
			align-items: center;
			span{
				font-size: 8px;
				line-height: 10px;
			}
			.btn{
				font-size: 12px;
				line-height: 14px;
				padding: 10px;
			}
		}
	}
}