.hero{
	overflow: hidden;
	margin-bottom: 67px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 100px;
		right: 0;
		background-image: url("../img/hero-decor.png");
		background-repeat: no-repeat;
		width: 135px;
		height: 50px;
	}
	&__body{
		display: flex;
		align-items: center;
		padding-top: 24px;
	}
	&__txt{
		max-width: 700px;
	}
	&__title{
		font-family: $font1;
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0.05em;
		color: #1B1B1B;
		margin: 0 0 10px;
		span{
			font-size: 40px;
			line-height: 40px;
			text-transform: uppercase;
			display: block;
			margin-bottom: 6px;
		}
	}
	&__lable{
		background: linear-gradient(90deg, #E20E1B 3.27%, #FF646E 49.92%, #E20E1B 97.66%);
		font-family: $font1;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		text-align: center;
		max-width: 612px;
	}
	&__list{
		margin: 0 0 28px;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			font-weight: normal;
			font-size: 24px;
			line-height: 50px;
			letter-spacing: 0.05em;
			color: #000000;
			&:before{
				content: '';
				display: inline-block;
				color: #000;
				border-radius: 50%;
				background-color: #000;
				width: 5px;
				height: 5px;
				margin-right: 10px;
				vertical-align: middle;
				overflow: hidden;
			}
		}
	}
	&__row{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		align-items: center;
		span{
			text-align: right;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #000000;
		}
		.btn{
			padding: 28px 25px;
		}
	}
	&__img{
		flex: 1;
		text-align: center;
	}
	&__video{
		width: 100%;
		img{
			width: 100%;
		}
	}
	&__num{
		font-family: $font1;
		background-color: #C2C2C2;
		padding: 45px 15px 51px;
		margin-top: 47px;
	}
	&__num-body{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__num-item{
		flex: 1 0 33.33%;
		max-width: 370px;
	}
	&__num-top{
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__num-middle{
		font-weight: 700;
		font-size: 42px;
		line-height: 50px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #E30613;
	}
	.container{
		max-width: 1160px;
	}
	@include r(1023){
		margin-bottom: 50px;
		&:after{
			display: none;
		}
		&__txt{
			max-width: 60%;
		}
		&__title{
			font-size: 20px;
			line-height: 28px;
			span{
				font-size: 32px;
				line-height: 40px;
			}
		}
		&__lable{
			font-size: 20px;
			line-height: 40px;
		}

		&__list{
			margin: 0 0 28px;
			li{
				font-size: 16px;
				line-height: 34px;
			}
		}
		&__row{
			span{
				font-size: 12px;
				line-height: 14px;
			}
			.btn{
				padding: 16px 20px;
				font-size: 16px;
			}
		}
		&__num{
			padding: 35px 15px 41px;
			margin-top: 37px;
		}
		&__num-top{
			font-size: 16px;
			line-height: 26px;
		}
		&__num-middle{
			font-size: 26px;
			line-height: 46px;
		}
	}
	@include r(767){
		text-align: center;
		&__body{
			display: flex;
			flex-direction: column;
		}
		&__txt{
			max-width: 582px;
			text-align: right;
			order: 2;
		}
		&__img{
			top: 0;
			left: 0;
			position: relative;
			order: 1;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		&__title{
			font-size: 24px;
			line-height: 30px;
			span{
				display: block;
				margin-left: 0;
				margin-right: auto;
				width: fit-content;
			}
		}
		&__list{
			margin: 0 0 16px;
			padding: 0;
			list-style: none;
			li{
				font-size: 13px;
				line-height: 25px;
			}
		}
		&__row{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 18px;
			align-items: center;
			span{
				font-size: 8px;
				line-height: 10px;
			}
			.btn{
				font-size: 12px;
				line-height: 14px;
				padding: 10px;
			}
		}
	}
}