.hero{
	overflow: hidden;
	padding: 10px 0;
	&__body{
		display: block;
		position: relative;
	}
	&__txt{
		max-width: 582px;
		text-align: right;
	}
	&__title{
		font-family: 'CenturyGothic';
		font-weight: 700;
		font-size: 50px;
		line-height: 60px;
		letter-spacing: 0.05em;
		color: #E30613;
		margin-bottom: 20px;
		text-align: left;
		span{
			display: block;
			margin-left: auto;
			margin-right: 0;
			width: fit-content;
		}
	}
	&__list{
		margin: 0 0 70px;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			font-weight: normal;
			font-size: 24px;
			line-height: 50px;
			letter-spacing: 0.05em;
			text-transform: lowercase;
			color: #000000;
			&:before{
				content: '';
				display: inline-block;
				color: #000;
				border-radius: 50%;
				background-color: #000;
				width: 5px;
				height: 5px;
				margin-right: 10px;
				vertical-align: middle;
				overflow: hidden;
			}
		}
	}
	&__row{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		align-items: center;
		span{
			text-align: right;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: #000000;
		}
	}
	&__img{
		top: -40px;
		left: 582px;
		position: absolute;
	}
	@include r(767){
		&__body{
			display: flex;
			flex-direction: column;
		}
		&__txt{
			max-width: 582px;
			text-align: right;
			order: 2;
		}
		&__img{
			top: 0;
			left: 0;
			position: relative;
			order: 1;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		&__title{
			font-size: 24px;
			line-height: 30px;
			span{
				display: block;
				margin-left: 0;
				margin-right: auto;
				width: fit-content;
			}
		}
		&__list{
			margin: 0 0 16px;
			padding: 0;
			list-style: none;
			li{
				font-size: 13px;
				line-height: 25px;
			}
		}
		&__row{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 18px;
			align-items: center;
			span{
				font-size: 8px;
				line-height: 10px;
			}
			.btn{
				font-size: 12px;
				line-height: 14px;
				padding: 10px;
			}
		}
	}
}