.investment {
	margin: 30px 0 80px;
	overflow: hidden;
	&__header {
		margin-bottom: 79px;
	}
	&__title{
		display: inline-block;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: -0.3px;
		color: #E30613;
	}

	&__body{
	}
	&__txt {
		flex: auto;
		max-width: 680px;
		position: relative;
		margin-right: 40px;
		P{
			font-family: $font1;
			font-weight: 400;
			font-size: 14px;
			line-height: 25px;
			letter-spacing: 0.05em;
			color: #000000;
			margin: 19px 0 0;
		}
	}

	&__list {
		margin: 0 0 0 15px;
		padding: 0;
		list-style-type: none;
		font-weight: normal;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #000000;

		li {
			position: relative;
			padding-left: 15px;

			&:before {
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				border-radius: 50%;
				background-color: #000;
				width: 5px;
				height: 5px;
				margin-right: 10px;
				vertical-align: middle;
				overflow: hidden;
			}
		}
	}

	&__item {
		min-width: 1120px;
		padding: 33px 20px 40px;
		margin: 0 -20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		color: #000000;
		&:first-of-type{
			color: #E30613;
			padding: 14px 20px;
		}
		&:nth-child(even) {
			background-color: #EFEDED;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				width: calc(100vw - 40px);
				height: 100%;
				background-color: inherit;
				pointer-events: none;
				z-index: 0;
			}
		}
		hr{
			flex: 1 0 100%;
			border: 0;
			border-bottom: 3px solid #E30613;

			margin-top: 0;
			margin-bottom: 28px;
		}
	}

	&__item-inner {
		flex: 1 0 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__name {
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.05em;
	}

	&__price {
		font-weight: bold;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		position: relative;
		flex-shrink: 0;
		width: 115px;
		align-self: flex-end;
	}
	.container{
		max-width: 1160px;
	}
	@include r(1120){
		&__body{
			overflow: auto;
			margin: 0 -15px;
		}
		&__item {
			padding-left: 50px;
			&:first-of-type{
				color: #E30613;
				padding: 14px 50px;
			}
		}
	}
	@include r(767) {
		margin: 20px 0;
		.text-danger{
			font-size: 13px;
			margin: 0;
		}
		&__header {
			margin-bottom: 8px;
			text-align: center;
			padding: 0;
		}
		&__title {
			font-size: 24px;
			line-height: 25px;
		}
		&__item {
			padding: 15px 50px;
			margin: 0 -20px;
			display: flex;
			justify-content: space-between;
			position: relative;
			&:first-of-type{
				color: #E30613;
				padding: 14px 50px;
			}
			&:nth-child(even) {
				background-color: #EFEDED;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%, 0);
					width: calc(100vw - 40px);
					height: 100%;
					background-color: inherit;
					pointer-events: none;
					z-index: 0;
				}
			}
		}
		&__name {
			font-size: 12px;
		}

		&__price {
			font-size: 12px;
		}
	}
}