.learning-main {
	padding: 80px 0;
	&__header {
		margin-bottom: 80px;
		position: relative;
	}
	&.active {
		.dropdown-block {
			display: block;
		}

		.learning-main__arrow {
			transform: rotate(0);
		}
	}
	&__arrow {
		display: none;
	}
	&__title{
		font-weight: bold;
		font-size: 24px;
		line-height: 25px;
		letter-spacing: 0.05em;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 155px;
			height: 3px;
			background-color: #E30613;
		}
	}

	&__img {
		position: relative;
		margin-bottom: 40px;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 29.6%, #FFFFFF 94.91%);
			width: 100%;
			height: 250px;
		}
		img{
			width: 100%;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
		grid-gap: 40px;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__item{
		max-width: 262px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__icon {
		background-image: url("../img/icons-sprite.svg#icon-training-red");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 36px;
		height: 36px;
		margin-bottom: 30px;
		flex-shrink: 0;
		margin-right: 30px;
	}

	&__name {
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	.btn{
		margin: auto 0 20px;
		width: 100%;
	}

	@include r(767) {
		padding: 20px 0;
		&__arrow {
			position: absolute;
			bottom: -18px;
			right: 0;
			background-repeat: no-repeat;
			transform: rotate(-90deg);
			width: 26px;
			height: 13px;
			display: block;
			background-image: url("../img/icons-sprite.svg#icon-arrow-dropdown");
		}
		.dropdown-block {
			display: none;
		}
		&__header{
			margin-bottom: 37px;
		}
		&__title{
			font-size: 20px;
			line-height: 25px;
			&:after {
				width: 142px;
			}
		}
		&__body {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 24px;
			justify-content: space-between;
		}
		&__img {
			position: relative;
			margin-bottom: 20px;
			&:before{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 29.6%, #FFFFFF 94.91%);
				width: 100%;
				height: 50px;
			}
			img{
				width: 100%;
			}
		}
		&__item{
			max-width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}
		&__name {
			font-size: 12px;
			line-height: 25px;
		}
		.btn{
			width: fit-content;
			margin: 0 auto;
			font-size: 12px;
			line-height: 14px;
			padding: 11px 20px;
		}
	}

}