.nav{
	padding: 0;
	&__menu{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item{

	}
	&__link{
		font-weight: 700;
		font-size: 16px;
		line-height: 12px;
		letter-spacing: 0.05em;
		color: #E30613;
		text-decoration: none;
		white-space: nowrap;
	}
	@include r(1023){
		position: absolute;
		top: 120%;
		right: 0;
		width: fit-content;
		z-index: 20;
		padding: 30px 48px;
		display: none;
		background-color: #D9D9D9;
		&.active{
			display: block;
		}
		&__menu{
			margin: 0;
			padding: 0;
			list-style: none;
			flex-direction: column;
			align-items: flex-start;
		}
		&__item{
			margin-bottom: 12px;
			&.active{
				.nav__dropdown{
					opacity: 1;
					visibility: visible;
					height: auto;
					transition: all .3s ease;
				}
				.nav__link--arrow{
					&:after{
						transform: rotate(0);
						transition: all .3s ease;
					}
				}
			}
			&:before{
				display: none;
			}
			&:not(:first-child){
				margin-left: 0;
			}
		}
		&__link{
			font-size: 16px;
			line-height: 16px;
			padding: 0;
			text-align: left;
		}
	}
}