.pagination{
	text-align: center;
	margin-bottom: 79px;
	a,span{
		font-family: $font1;
		font-weight: normal;
		color: #000;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-decoration: none;
		padding: 5px;
		&.active{
			color: #E30613;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
		}
	}
	@include r(767){
		margin-bottom: 22px;
		a,span{
			font-size: 12px;
			&.active{
				font-size: 12px;
			}
			&.more{
				display: block;
			}
		}
	}
}