.percent{
	margin-bottom: 86px;
	&__header {
		margin-bottom: 72px;
		padding-left: 118px;
	}
	&__title{
		display: inline-block;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: 0.05em;
		color: #E30613;
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(245px, 1fr));
		grid-gap: 24px;
		justify-content: space-between;
	}
	&__item{
		max-width: 250px;
	}
	&__num{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background: linear-gradient(306.05deg, #FF646E 12.66%, #E30613 64.29%);
		border-radius: 50%;
		overflow: hidden;
		font-family: $font1;
		font-weight: 700;
		font-size: 24px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-bottom: 32px;
	}
	&__name{
		font-weight: 700;
		font-size: 22px;
		line-height: 24px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-bottom: 20px;
	}
	&__anons{

		font-family: $font1;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	@include r(767){
		padding: 24px 0;
		&__body{
			grid-gap: 27px;
		}
		&__item{
			display: flex;
			align-items: center;
			max-width: 100%;
			gap: 10px;
		}
		&__name{
			margin-top: 0;
			margin-left: 10px;
			font-size: 13px;
			line-height: 25px;
		}&__img{
			 width: 23px;
			 height: 21px;
			 flex-shrink: 0;
		 }
	}
}