.percent{
	margin-bottom: 86px;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		top: 60px;
		right: 20px;
		background-image: url("../img/percent-decor.png");
		background-repeat: no-repeat;
		width: 69px;
		height: 200px;
	}
	&__header {
		margin-bottom: 72px;
		padding-left: 118px;
	}
	&__title{
		display: inline-block;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: 0.05em;
		color: #E30613;
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(245px, 1fr));
		grid-gap: 24px;
		justify-content: space-between;
	}
	&__item{
		max-width: 250px;
	}
	&__num{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background: linear-gradient(306.05deg, #FF646E 12.66%, #E30613 64.29%);
		border-radius: 50%;
		overflow: hidden;
		font-family: $font1;
		font-weight: 700;
		font-size: 24px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-bottom: 32px;
	}
	&__name{
		font-weight: 700;
		font-size: 22px;
		line-height: 24px;
		letter-spacing: 0.05em;
		color: #000000;
		margin-bottom: 20px;
	}
	&__anons{

		font-family: $font1;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	@include r(1023){
		margin-bottom: 50px;
		&:after{
			display: none;
		}
		&__header {
			margin-bottom: 40px;
			padding-left: 50px;
		}
		&__item{
			max-width: 100%;
		}
	}
	@include r(767){
		padding: 0;
		&__header {
			margin-bottom: 20px;
			padding: 0;
			text-align: center;
		}
		&__title{
			font-size: 24px;
			line-height: 50px;
		}
		&__body{
			grid-gap: 17px;
		}
		&__item{
			display: block;
			max-width: 100%;
			gap: 10px;
			padding-left: 66px;
			position: relative;
		}
		&__num{
			position: absolute;
			top: -8px;
			left: 0;
			width: 45px;
			height: 45px;
			margin-bottom: 0;
		}
		&__name{
			font-size: 16px;
			line-height: 24px;
			margin: 0 0 23px;
		}
		&__anons{
			font-size: 14px;
			line-height: 24px;
		}

	}
}