.percent{
	padding: 100px 0;
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(245px, 1fr));
		grid-gap: 40px;
		justify-content: space-between;
	}
	&__item{
		max-width: 250px;
	}
	&__name{
		margin-top: 34px;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #000000;
	}
	@include r(767){
		padding: 24px 0;
		&__item{
			display: flex;
			align-items: center;
			max-width: 100%;
		}
		&__name{
			margin-top: 0;
			margin-left: 10px;
			font-size: 13px;
			line-height: 25px;
		}
	}
}