.statistic{
	margin-bottom: 88px;
	overflow: hidden;
	&__item{

	}
	&__count{
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		text-align: center;
		color: #E30613;
		margin-bottom: 3px;
	}
	&__name{
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		color: #000000;
		margin-bottom: 13px;
	}
	&__year{
		padding-top: 13px;
		border-top: 3px solid #E30613;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		text-align: center;
		color: #E30613;
	}
	.swiper-container-statistic{
		margin-bottom: 70px;
		position: relative;
	}
	.swiper-slide{
		width: auto!important;
	}
	.swiper-statistic-next{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		background-color: #fff;
		width: 100px;
		height: 100%;
		background-image: url("../img/icons-sprite.svg#icon-arrow-next");
		background-repeat: no-repeat;
		background-position: center;
	}
}