.store-decoration {
	overflow: hidden;
	&__header{
		margin-bottom: 81px;
		position: relative;
		padding-left: 118px;
	}
	&__title{
		display: inline-block;
		font-family: $font1;
		font-weight: bold;
		font-size: 32px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #E30613;
	}
	&__slider{
		margin-bottom: 77px;
	}

	.one .swiper-slide {
		width: 548px;
		&.swiper-slide-visible{
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -50px;
				width: 50px;
				height: 100%;
				background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

				z-index: 10;
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: -50px;
				width: 50px;
				height: 100%;
				background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
				z-index: 10;
			}
		}
	}

	.two{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 10%;
			height: 100%;
			background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			z-index: 10;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 10%;
			height: 100%;
			background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			z-index: 10;
		}
	}
	.two .swiper-slide {
		width: 263px;
	}
	.swiper-button-next{
		right: 20px;
		z-index: 20;
		height: 68px;
		background-image: url("../img/store-decoration-arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 27px 68px;
		top: 50%;
		transform: translate(0,-50%);
		margin: 0;
		&:after{
			display: none;
		}
	}
	.swiper-button-prev{
		left: 20px;
		z-index: 20;
		height: 68px;
		background-image: url("../img/store-decoration-arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 27px 68px;
		transform: rotate(180deg) translate(0,50%);
		margin: 0;
		&:after{
			display: none;
		}
	}

	@include r(767) {
		&__header {
			margin-bottom: 15px;
			padding: 0;
			text-align: center;
		}
		&__title{
			font-size: 24px;
			line-height: 50px;
		}
		&__slider{
			margin-bottom: 20px;
		}
		.one .swiper-slide {
			width: 60%;
		}
		.d-none-mobile{
			display: none;
		}
	}
}