.tabs-format{
	margin-bottom: 85px;
	overflow: hidden;
	&__header{
		margin-bottom: 85px;
		padding-left: 118px;
	}
	&__title{
		display: inline-block;
		font-weight: bold;
		font-size: 32px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #E30613;
	}
	&__body{
		margin-bottom: 80px;
	}
	&__txt{
		padding: 122px 16px 122px 122px;
		max-width: 45%;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		flex-shrink: 1;
		font-family: $font1;
		p{
			font-size: 18px;
			line-height: 25px;
			letter-spacing: 0.05em;
			color: #FFFFFF;
			margin: 0 0 20px;
		}
	}
	&__img{
		left: 45%;
		width: 55%;
		bottom: 0;
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	.tabs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 0 20px;
		label {
			order: 1;
			display: block;
			padding: 23px 2rem;
			margin: 0;
			cursor: pointer;
			background: #fff;
			transition: background ease 0.2s;
			color: #E30613;
			border: 1px solid #E30613;
			box-sizing: border-box;
			border-radius: 4px;
			text-align: center;
			font-weight: 700;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: 0.05em;
			flex-grow: 1;
		}
		.tab {
			margin-top: -5px;
			order: 99;
			flex-grow: 1;
			width: 100%;
			display: none;
			background: #9F9FA0;
			position: relative;
			align-items: center;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -100%;
				background-color: #9F9FA0;
				width: 100%;
				height: 100%;
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: -100%;
				background-color: #9F9FA0;
				width: 100%;
				height: 100%;
			}
		}
		input[type="radio"] {
			position: absolute;
			opacity: 0;
			&:checked + label {
				background: #E30613;
				color: #fff;
			}
			&:checked + label + .tab {
				display: flex;
			}
		}
	}
	@include r(1023){
		&__header{
			margin-bottom: 40px;
			padding-left: 50px;
		}
		&__title{
			font-size: 32px;
			line-height: 25px;
		}
		&__body{
			margin-bottom: 40px;
		}
	}
	@include r(767){
		margin: 0 0 30px;
		&__header{
			display: none;
		}
		&__title{
			font-size: 20px;
			line-height: 25px;
			&:after{
				content: '';
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 142px;
				height: 3px;
				background-color: #fff;
			}
		}
		&__body{
			margin-bottom: 0;
		}
		&__txt{
			padding: 22px;
			max-width: 100%;
			font-size: 12px;
			line-height: 14px;
			p{
				font-size: 12px;
				line-height: 14px;
			}
		}
		&__img{
			left: 0;
			width: 100%;
			bottom: 0;
			img{
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
		.tabs{
			.tab,
			label{
				order: initial;
			}
			label {
				width: 100%;
				margin-top: 24px;
				font-size: 16px;
				line-height: 19px;
				padding: 18px 2rem;
			}
			input[type="radio"] {
				&:checked + label + .tab {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}