.uniform {
	margin: 30px 0;

	&.active {
		.dropdown-block {
			display: block;
		}

		.uniform__arrow {
			transform: rotate(0);
		}
	}


	&__header{
		margin-bottom: 81px;
		position: relative;
		padding-left: 118px;
	}
	&__title{
		display: inline-block;
		font-family: $font1;
		font-weight: bold;
		font-size: 32px;
		line-height: 25px;
		letter-spacing: 0.05em;
		color: #E30613;
	}

	&__body {
		img {
			align-self: center;
			justify-content: center;
			display: block;
			margin: 0 auto;
		}
	}
	.swiper-container-uniform,
	.swiper-container-uniform-thumb{
		overflow: hidden;
		position: relative;
	}
	.swiper-container-uniform-thumb{
		display: none;
	}
	.swiper-container-uniform-thumb .swiper-wrapper{
		align-items: center;
	}
	.swiper-uniform-next{
		img{
			margin-right: 0;
		}
	}

	@include r(767) {
		&__header{
			margin-bottom: 15px;
			position: relative;
			padding-left: 0;
			text-align: center;
		}
		&__title{
			font-size: 24px;
			line-height: 50px;
		}
		&__body {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;
			justify-content: center;
			align-items: center;
		}
		.swiper-container-uniform-thumb{
			display: block;
		}
		.swiper-uniform-next{
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -29px;
			z-index: 10;
		}
	}
}