<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__item">
                <a href="#"><img src="./img/icon-vk.svg" width="118" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icon-ok.svg" width="120" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icon-tg.svg" width="120" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icon-tiktok.svg" width="185" height="39" alt=""></a>
            </div>
        </div>
        <div class="footer__body mobile">
            <div class="footer__item">
                <a href="#"><img class="img-fluid" src="./img/vk-mobile.svg" width="30" height="30" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img class="img-fluid" src="./img/ok-mobile.svg" width="30" height="30" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img class="img-fluid" src="./img/telegram-mobile.svg" width="30" height="30" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img class="img-fluid" src="./img/tiktok-mobile.svg" width="160" height="35" alt=""></a>
            </div>
        </div>
        <a href="#" class="footer__policy">Политика конфиденциальностии обработки персональных данных</a>
    </div>
</footer>

<div id="button-up" class="button-up">
    <div class="button-up__arrow"></div>
</div>