<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-vk" width="117" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-ok" width="119" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-fb" width="132" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-inst" width="132" height="39" alt=""></a>
            </div>
        </div>
    </div>
</footer>

<div id="button-up" class="button-up">
    <div class="button-up__arrow"></div>
    наверх
</div>