<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-vk" width="118" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-ok" width="120" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-tg" width="120" height="39" alt=""></a>
            </div>
            <div class="footer__item">
                <a href="#"><img src="./img/icons-sprite.svg#icon-tiktok" width="185" height="40" alt=""></a>
            </div>
        </div>
        <a href="#" class="footer__policy">Политика конфиденциальностии обработки персональных данных</a>
    </div>
</footer>

<div id="button-up" class="button-up">
    <div class="button-up__arrow"></div>
</div>