<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="#" class="header__logo">
                <img src="./img/logo.svg" width="441" height="37" alt="Магазин постоянных распродаж">
            </a>
            <button type="button" class="header__button"><span></span></button>
            <a class="header__phone" href="tel:8800800800" title="Телефон">8 800 800 800</a>
            <button type="button" class="header__btn btn btn-outline-primary">заказать звонок</button>
        </div>
    </div>
</header>

<nav class="nav">
    <div class="container">
        <ul class="nav__menu">
            <li class="nav__item">
                <a class="nav__link" href="#about">О нас</a>
                <ul class="nav__dropdown dropdown">
                    <li class="dropdown__item"><a class="dropdown__link" href="#information">общая информация</a></li>
                    <li class="dropdown__item"><a class="dropdown__link" href="#geografia">георграфия</a></li>
                    <li class="dropdown__item"><a class="dropdown__link" href="#statistic">статистика</a></li>
                </ul>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">Готовое решение</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Учебный центр</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Отзывы</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
        </ul>
    </div>
</nav>