<header class="header">
    <div class="container">
        <div class="header__body">
            <button id="menu" type="button" class="header__button"><span></span></button>
            <a class="header__phone" href="tel:88002500600" title="Телефон">8 800 2500 600</a>
            <nav class="nav">
                    <ul class="nav__menu">
                        <li class="nav__item"><a class="nav__link" href="#">Главная</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">учебный центр</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">о магазинах</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">калькулятор/инвестиции</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">новости</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Арендодателям</a></li>
                    </ul>
            </nav>
        </div>
    </div>
</header>
