<!--Отправить на email-->
<div class="remodal" data-remodal-id="consultation">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Оставьте заявку на консультацию
        по открытию вашего МПР,
        мы свяжемся с вами в ближайшее время</div>
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" name="NAME" placeholder="Ваше имя">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="PHONE" placeholder="Телефон">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="CITY" placeholder="Ваш Город">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="EMAIL" placeholder="E-mail">
        </div>
        <div class="form-group">
            <button data-remodal-action="confirm" class="btn btn-primary w100">оставить заявку</button>
        </div>
    </form>
</div>