@font-face {
	font-family: 'Firenight';
	src: url('../fonts/Firenight/MyriadPro-Regular.eot');
	src: url('../fonts/Firenight/Firenight-regular.woff') format('woff'),
	url('../fonts/Firenight/Firenight-regular.woff2') format('truetype');
}



$font1: 'Firenight', sans-serif;