@import "mixin";
@import "fonts";
@import "buttons";
@import "remodal";

* {
	box-sizing: border-box;
}

body {
	font-family: $font1;
	&.lock {
		overflow: hidden;
	}
}
.wrp {
	position: relative;
	p {
		font-size: 18px;
		line-height: 25px;
		color: #333;
	}
}

.container {
	max-width: 1156px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

a{
	transition: color 0.3s ease;
	&:hover{
		transition: color 0.3s ease;
	}
}


.d-none {
	display: none!important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

@import "componets/header";
@import "componets/nav";




