@import "mixin";
@import "fonts";
@import "buttons";
@import "remodal";
@import "form";
@import "text";

* {
	box-sizing: border-box;
}

body {
	font-family: $font1;
	&.lock {
		overflow: hidden;
	}
}
.wrp {
	position: relative;
	p {
		font-size: 18px;
		line-height: 25px;
	}
}

.container {
	max-width: 1156px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

a{
	transition: color 0.3s ease;
	&:hover{
		transition: color 0.3s ease;
	}
}
img{
	height: auto;
}


.d-none {
	display: none!important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}



@import "componets/header";
@import "componets/nav";
@import "componets/hero";
@import "componets/number";
@import "componets/footer";
@import "componets/percent";
@import "componets/general-information";
@import "componets/geografia";
@import "componets/statistic";
@import "componets/advantage";
@import "componets/open-data";
@import "componets/store-decoration";
@import "componets/uniform";
@import "componets/parametrs";
@import "componets/investment";
@import "componets/learning-main";
@import "componets/learning-page";
@import "componets/reviews";
@import "componets/articles";






