@import "partials/formstyler";
@import "partials/formstyler.theme";
@import "mixin";
@import "fonts";
@import "buttons";
@import "remodal";
@import "form";
@import "text";
@import "table";
@import "alert";

* {
	box-sizing: border-box;
}

body {
	font-family: $font1;
	&.lock {
		overflow: hidden;
	}
}
.wrp {
	position: relative;
	p {
		font-size: 18px;
		line-height: 25px;
	}
}

.container {
	max-width: 1388px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

a{
	transition: color 0.3s ease;
	&:hover{
		transition: color 0.3s ease;
	}
}
img{
	height: auto;
}




.d-none {
	display: none!important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}


.button-up{
	font-family: $font1;
	display: none;
	position: fixed;
	right: 20px;
	bottom: 100px;
	transition: .3s;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #D9D9D9;
	align-items: center;
	justify-content: center;
	z-index: 15;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("../img/icons-sprite.svg#button-up");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 160%;
		width: 100%;
		height: 100%;
	}
}

.remodal.calc{
	max-width: fit-content;
	padding: 0;
	background: transparent;
	border: 0;
	.remodal-close{
		top: -20px;
		right: -20px;
		color: #E30613;
		span{
			display: none;
		}
	}
	@include r(767){
		.remodal-close{
			top: auto;
			right: auto;
			color: #E30613;
			position: relative;
			display: block;
			width: 100%;
			margin: 20px 0;
			&:before{
				display: none;
			}
			span{
				display: inline-block;
				border-bottom: 1px solid #E30613;
			}
		}
		.btn{
			width: 100%;
			max-width: 100%;
			padding: 11px 20px;
			font-size: 12px;
			line-height: 14px;
		}
	}
}

.form-check-input{
	margin-top: 6px;
	margin-left: -24px;
}
.form-check{
	padding-left: 24px;
}
.form-check-label{
	font-weight: normal;
	font-size: 9px;
	line-height: 12px;
	letter-spacing: 0.05em;
	color: #000000;
}
.jq-checkbox{
	width: 11px;
	height: 11px;
	border: 1px solid #E30613!important;
	border-radius: 2px;
	background: transparent;
	outline: none!important;
}
.jq-checkbox.checked .jq-checkbox__div{
	margin: 2px 0 0 1px;
}



@import "componets/header";
@import "componets/nav";
@import "componets/hero";
@import "componets/footer";
@import "componets/percent";
@import "componets/geografia";
@import "componets/advantage";
@import "componets/opening";
@import "componets/store-decoration";
@import "componets/uniform";
@import "componets/parametrs";
@import "componets/investment";
@import "componets/learning-main";
@import "componets/learning-page";
@import "componets/reviews";
@import "componets/articles";
@import "componets/pagination";
@import "componets/articles-inner";
@import "componets/pagination-inner";
@import "componets/calculator";
@import "componets/tabs-format";
@import "componets/tur";
@import "componets/video-shops";
@import "componets/concerns";
@import "componets/footer-form";






