.remodal {
    text-align: left;
    background: #EFEDED;
    border-radius: 10px;
    position: relative;
    padding: 24px;
    .remodal-close {
        right: 22px;
        top: 24px;
        left: auto;
        width: 18px;
        height: 18px;
        &:before {

        }
    }
    .title{
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #E30613;
        margin-bottom: 20px;
    }
    @include rmin(641){
        max-width: 320px;
    }
}
.remodal-wrapper {
    padding: 0;
}
